body{
	background-image: url("stars.jpg");
	color: white;
	font-family: 'Aldrich', sans-serif; /* From Google fonts */
}

a{
	color: #4080bf;
}

input[type="number"]:disabled{
	background: #909090;
}

#howto{
	cursor: pointer;
	color: #4080bf;
}

.title{
	text-align: center;
}

#shipdiv{
	width: 1000px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: #4080bf;
	box-shadow: 0px 0px 10px 10px #4080bf;
}

#clkdiv{
	width: 400px;
	height: 200px;
	box-shadow: 0px 0px 10px 10px #4080bf;
	margin: auto;
}

.inlinebox{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 100px;
	height: 40px;
	font-family: 'Aldrich', sans-serif;
}

#instructions{
	margin: 40px;
	background-color: #f0f0f0;
	color: #000000;
	box-shadow: 0px 0px 10px 10px #4080bf;
}
